/* 공동사용 아이콘/버튼/글자색*/
.ico_snippet {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
}

.ico_arr_r {
  width: 6px;
  height: 10px;
  background: url(../library/images/ico/icon_arrow.svg) no-repeat;
}