.hlGtWY,
.jqbkvC {
  display: block;
  min-width: 121px;
  margin-bottom: $gutter;
  border: 1px solid map-get($default, border);
  border-radius: $borderRadius;
  background: $white;

  .eIaImm {
    width: 33px;
    border-left: 1px solid map-get($default, border);
    border-right: 1px solid map-get($default, border);
    background: map-get($default, fill);
  }

  .kzPnZt,
  .eabYMk {
    z-index: 10;
  }

  .bmiaWn {
    @include screen-out;
  } // close button text

  [data-testid='DatepickerInput'] {
    &[disabled] {
      @include palette($disabled);
    }
  }

  [data-testid='DatepickerClose'] {
    @include justify-content(center);
    width: 55px;
    height: 55px;
  } // close button

  [data-testid='SelectedDatesGrid'] {
    margin-bottom: -15px;
  }

  .inp-group & {
    @include flex(1, 0, 0%);
    position: relative;
    margin-bottom: 0;
    margin-right: -1px;
    border-radius: 0;
    -webkit-appearance: none;

    &:first-child {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    &:last-child {
      margin-right: 0;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}

@include respond-to(sm) {
  .jqbkvC {
    [data-testid='MonthGrid'] {
      grid-template-columns: none;
    }
  }
}
