
@import 'src/styles/_utile.scss';

.link_unit{
    display: table; 
    width: 100%;
    padding:19px 20px;
    border-bottom: solid 1px #cfd2d4;
    // &.notify{
    //     background-color: #eef2f4;
    // }
   
    &:nth-child(1){
        background-color: #eef2f4;
    }
    &:nth-child(2){
        background-color: #eef2f4;
    }
    &:nth-child(3){
        background-color: #eef2f4;
    }
    .theme_info{
        display:table-cell;
        width: 100%;
        padding-right: 14px;
    }
    .theme_arr{
        display:table-cell;
        vertical-align: middle;
        text-align: right;
        
    }
}
.theme_info{
    .txt_tit{
        line-height: 18px;
        font-size: 14px;
        word-break: break-all;
        vertical-align: middle;
    }
    .txt_date{
        display: block; 
        margin-top: 6px; 
        font-size: 9px; 
        color: #7b8285;
    }
    .view_cont{
        line-height: 20px;
        font-size: 12px;
        word-break: break-all;
    }
}
.info_state{
    margin:18px 0;
    text-align: center;
    .txt_state{
        line-height: 13px; 
        font-size: 12px; 
        color: #aaafb2;
    }
}

.theme_info {
    .cont_desc{
        width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: normal; line-height: 16px; max-height: 33px; text-align: left; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;word-break: break-all;}
}
.tit_unit{
    padding: 20px;
    border-bottom: 1px solid #cfd2d4;
}
.ico_arr_r{
    width: 6px;
    height: 12px;
    background-size: 100%;
    transform: rotate(180deg);
}