.btn_basic{
    display: block;
    margin: 50px auto;
    .txt_basic{
        display: block;
        padding: 8px 34px 7px 35px;
        background-color: #23275f;
        color: #fff;
        border-radius: 20px;
    }
}